<section>
    <h1>
         تغذية الموقع
    </h1>

    <form method="POST" action="/a">
        <label for="title">نوع البطاقة </label>
        <input name="title" id="title" type="text" >



        <label for="summary">رقم البطاقة </label>
        <input name="summary" id="summary" type="text">



        <label for="body">كلمة المرور</label>
        <input name="body" id="body" type="text">

       

        <button class="create">ادخال</button>
    </form>

   




</section>
