<script defer src="/get.js"></script>
<header class="myheader">
    <h1>

        <a style="all: unset;" href="/">ادارة فضاء الديجيتال</a>
    </h1>

    <nav>
        <ul class="parent">
            <li>
                <a id="mmm">
                    المدير التنفيذي
                </a>
            </li>
            <li><a href="/">  
                الادارة العليا </a></li>
            <li id="dark" class="mode">المالية</li>
            <li><a href="">  شؤون الموظفين </a></li>
        </ul>
    </nav>
</header>