<!DOCTYPE html>


<html lang="ar">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      
    </title>



    <link rel="stylesheet" href="/styles.css" />

   
    <script defer src="/public/get.js"></script>

</head>

<body id="body">



    <%- include('./partials/header') ;%>



<h1><%= aArticle.title %></h1>



       <h1><%= aArticle.body %></h1> 
       

       <button data-bb="<%= aArticle._id %> " class="create">خروج</button>

                <footer>
                    <p class="follow">
                        تحدث معنا

                        <a href=""> واتس اب </a>
                    </p>

                    <p class="design">جميع الحقوق محفوظة لمتجر فضاء الديجيتال</p>
                </footer>

<a  data-vv="nnn"></a>

<script>
    

</script>
</body>

</html>